@(myForm:Form[Types])
@import helper._;


<div class="row">
    <div class="col-md-6">

    @helper.form(action = routes.AddTypePro.updateType(), 'class->"from-control"){
            @inputText(myForm("id"),'_label ->"รหัสประเภท", 'size-> "13", 'maxlength->"13", 'required->"requied" ,'class->"form-control")
            @inputText(myForm("name"),'_label ->"ชื่อประเภท", 'size-> "50",'class->"form-control")
            <input type="submit" value="บันทึก" class="btn btn-primary">
            <input type="reset" value="ยกเลิก" class="btn btn-default">
    </div>
    }
</div>