@(myForm:Form[Product], typesList:List[Types])
@import helper._;

<div class="row">
    <div class="col-md-12" id="phase">
<div class="panel panel-default">
    <div class="panel-heading">
        เพิ่มรายการสินค้า
    </div>
    <div class="panel-body">
@if(flash.containsKey("Error")){
    <div class="alert alert-danger">
        <strong>ผิดพลาด!</strong> @flash.get("Error")
    </div>
}

@helper.form(action = routes.AddProducts.saveProduct(), 'class->"from-control",'enctype->"multipart/form-data"){
    @inputText(myForm("id"),'_label ->"รหัสสินค้า", 'size-> "13", 'maxlength->"13", 'required->"requied" ,'class->"form-control")
    @inputText(myForm("name"),'_label ->"ชื่อสินค้า", 'size-> "50", 'maxlength->"40", 'required->"requied",'class->"form-control")
    @inputText(myForm("brand"),'_label ->"รุ่น", 'size-> "50",'class->"form-control",'required->"requied" )
    @textarea(myForm("detail"),'_label ->"รายละเอียด", 'size->"50",'class->"form-control", 'required->"requied" )
    @select(myForm("types.id"), options=typesList.map(typ =>typ.getId->typ.getName),'_label ->"ประเภทสินค้า",'class->"form-control")
    @inputText(myForm("amount"),'_label ->"จำนวน", 'size->"50",'class->"form-control", 'required->"requied" )
    @inputText(myForm("price"),'_label ->"ราคา", 'size->"50",'class->"form-control", 'required->"requied" )
    @inputFile(myForm("picture"),'_label->"รูป", 'required->"requied" )
    <input type="submit" value="บันทึก" class="btn btn-primary">
    <input type="reset" value="ยกเลิก" class="btn btn-default">
    }
    </div>
    </div>
    </div>
</div>