@(mode:List[Modeorders])


<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="between">
                    <h4> ข้อมูลรูปภาพวิธีการชำระเงิน </h4>

                            @if(mode != null){
                                <a class="btn btn-inverse-primary icon-btn" href="/inputImg"><i class="icofont icofont-plus-circle"></i></a>
                            }
                </div>
            </div>
        </div>
    </div>
        <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>รหัสภาพ</th>
                        <th>ชื่อ</th>
                        <th>ภาพ</th>
                        <th></th>
                        <th></th>
                    </tr>

                    @for(pr <- mode){
                        <tr>
                            <td>@pr.getId()</td>
                            <td>@pr.getName()</td>
                            <td><img src="/assets/images/home/@pr.getPicture()" width="50%"></td>
                            <td><a class="btn btn-danger" href="/deleteMode/@pr.getId" onclick="return confirm('โปรดยืนยันการลบ')"><i class="icofont icofont-bin"></i></a> </td>
                        </tr>
                    }
                </thead>

            </table>
        </div>
            <!-- /.table-responsive -->
    </div>
        <!-- /.panel-body -->
</div>