@(user:User)

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="between">
                    <h4> ข้อมูลรายละเอียดผู้ใช้</h4>

                    <a class="btn btn-inverse-primary icon-btn" href="/listUser"><i class="icofont icofont-reply"></i></a>
                </div>
            </div>
        </div>
    </div>
        <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>รายการ</th>
                        <th>รายละอียด</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>รหัสผู้ใช้</th>
                        <td>@user.getId()</td>
                    </tr>
                    <tr>
                        <th>ชื่อ-สุกล</th>
                        <td>@user.getName()</td>
                    </tr>
                    <tr>
                        <th>ชื่อผู้ใช้</th>
                        <td>@user.getUsername()</td>
                    </tr>
                    <tr>
                        <th>รหัสผ่าน</th>
                        <td>@user.getPassword</td>
                    </tr>
                    <tr>
                        <th>อีเมล</th>
                        <td>@user.getEmail()</td>
                    </tr>
                    <tr>
                        <th>เบอร์โทรศัพท์</th>
                        <td>@user.getPhone()</td>
                    </tr>
                    <tr>
                        <th>สถานะ</th>
                        <td>@user.getStatus()</td>
                    </tr>

                </tbody>

            </table>
        </div>
            <!-- /.table-responsive -->
    </div>
        <!-- /.panel-body -->
</div>