@(content: Html)(img:List[HomePicture])(promotion:List[ProMotion])

<!DOCTYPE html>

<html>
    <head>
        <title>web_new</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" href="/assets/stylesheets/bootstrap/css/bootstrap.css">
        <link type="text/css" rel="stylesheet" href="/assets/stylesheets/main.css">

        <link type="text/css" rel="stylesheet" href="/assets/stylesheets/icofont/css/icofont.css">
        <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">


    </head>
    <body style="font-family: 'Kanit', sans-serif;">
        <div class="container-fluid" id="phase">
            <div class="row"   >
                @menuTop()
            </div>
            <div class="row" id="tabcolor">
                <div class="container">
                    <div class="text-right">
                        @if(session.get("uid")==null) {
                            <h5><a href="#" id="show">เข้าสู่ระบบ</a>&nbsp;|&nbsp;<a href="/Register">สมัครสมาชิก</a>&nbsp;</h5>
                        }else{
                            <h5>สวัสดีคุณ:@session.get("uname") @session.get("uemail") @session.get("ustatus") <a href="/Logout"><span class="glyphicon glyphicon-user"></span> Logout</a></h5>
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                @homeImg(img)
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                @menu(promotion)
                </div>
                <div class="col-md-9">
                @content
                </div>
            </div>
        </div>
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright © Your Website 2017</p>
                <p class="m-0 text-center text-white">นายสุรพล คำสระคู 60342360101-8 || นายเวทิตย์ ฤาชัยราม 60342360118-6</p>
            </div>
                <!-- /.container -->
        </footer>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script type="text/javascript" src="/assets/stylesheets/bootstrap/js/bootstrap.min.js"></script>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
        <script src="/assets/javascripts/loadingOverlay.js"></script>

        @*โหลดหน้าล็อกอิน*@
        <script data-example="show-3-seconds">
        (function() {
            var show3SecondsBtn = document.getElementById('show');
            show3SecondsBtn.onclick = function() {
                var spinHandle = loadingOverlay.activate();
                setTimeout(function() {
                	window.location="/Login";
                    loadingOverlay.cancel(spinHandle);
                }, 1000);

                return false;
            };
        })();
    </script>
    </body>
</html>
