<div class="list-group">
    <p class="list-group-item disabled">
    ประเภทสินค้า
    </p>
    <a href="/" class="list-group-item">หน้าแรก</a>
    <a href="/showProducts" class="list-group-item">สินค้า</a>
    <a href="/Promotion" class="list-group-item">โปรโมชั่น</a>
    <a href="/form" class="list-group-item">เพิ่มสินค้า</a>
    <p class="list-group-item disabled">
    การจัดการ
    </p>
    <a href="/listProduct" class="list-group-item">เพิ่มสินค้า</a>
    <a href="#" class="list-group-item">เพิ่ม</a>
    <a href="#" class="list-group-item">BROTHER</a>
</div>