@(promotionList:List[ProMotion])

<div class="list-group">
    <p class="list-group-item disabled">
    ประเภทสินค้า
    </p>
    <a href="/" class="list-group-item">หน้าแรก</a>
    <a href="/showProducts" class="list-group-item">สินค้า</a>
    <a href="/showPromotion" class="list-group-item">โปรโมชั่น</a>
    <a href="/form" class="list-group-item">วิธีการสั่งซื้อ</a>
    <a href="/form" class="list-group-item">บริการหลังการขาย</a>
    <a href="/form" class="list-group-item">เงื่อนไขรับประกัน</a>
    <p class="list-group-item disabled">
    การจัดการ
    </p>
    <a href="/listImg" class="list-group-item">จัดการหน้าแรก</a>
    <a href="/listProduct" class="list-group-item">จัดการสินค้า</a>
    <a href="/listType" class="list-group-item">จัดการประเภทสินค้า</a>
    <a href="/listPromotion" class="list-group-item">จัดการโปรโมชั่น</a>
    <a href="#" class="list-group-item">BROTHER</a>
</div>

<div id="phase">
    @for(pr <- promotionList){
        <img class="img-responsive" src="/assets/images/promotion/@pr.getPicture()"  alt="">
    }
</div>
