@(productList:List[Product],basketList:List[Basket])



    <div class="row">
        @for(pr <- productList){
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="assets/images/product/@pr.getPicture()" alt="...">
                <div class="caption">
                    <h5>@pr.getName @pr.getBrand</h5>
                    <p>ราคา<strong class="price">@pr.getPrice</strong></p>
                    <p><a href="/addOrder/@pr.getId" class="btn btn-primary" role="button">ซื้อเลย</a> <a href="#" class="btn btn-default" role="button">รายละเอียด</a></p>
                </div>
            </div>

        </div>
        }
</div>
